<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  	<servlet>
    	<servlet-name>ForceJSONResponse</servlet-name>
    	<servlet-class>gxtfx.server.BackendWrapperJSONServiceImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>ForceJSONResponse</servlet-name>
    	<url-pattern>/ForceJSONResponse</url-pattern>
  	</servlet-mapping>
</web-app>